<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <!-- Recommended: Consider to isolate your component instances into different Linux Processes!                                 -->
    <!-- ===========  To do: (1) Define a process, and                                                                             -->
    <!--                     (2) at the definition of the 'Component' instance add the process name using the attribute 'process'. -->

    <Process name="$(name)Proc" settingsPath="$ARP_PATH_ACF_SETTINGS_FILE$" capabilities="" />
    <!--        'capabilities' is a comma separated (no blank characters) list of zero or more of the following capabilities:      -->
    <!--             CAP_NET_BIND_SERVICE   CAP_NET_ADMIN   CAP_NET_RAW                                                            -->
    <!--             CAP_IPC_LOCK                                                                                                  -->
    <!--             CAP_SYS_NICE                                                                                                  -->
    <!--         If this ACF configuration is used with a PLCnext Technology App, the following capabilities can be used, too:     -->
    <!--             CAP_SYS_BOOT   CAP_SYS_TIME                                                                                   -->
    <!--    Do not use any Linux features that are not permitted by the above capabilities!                                        -->
  </Processes>
  
  <Libraries>
    <Library name="$(namespace).$(root.name.format.lastNamespacePart.format.escapeProjectName)Library" binaryPath="./lib/lib$(name).so" />
  </Libraries>

  <Components>
    <Component name="$(component)1" type="$(namespace).$(component)" library="$(namespace).$(root.name.format.lastNamespacePart.format.escapeProjectName)Library" process="$(name)Proc"/>
               <!-- Use attribute 'process' of XML element 'Component' to specify the name of the process that executes this instance. -->
               <!-- e.g.: process="$(name)Proc"                                                                                        -->
               <!-- Note: Component ports do not work in instances which are assigned to a process!                                    -->
  </Components>

</AcfConfigurationDocument>